<!DOCTYPE html>
<html>
<head>
  <title>Form</title>
</head>
<body>
  <form action="/animals" method="POST">
    Animal Name:<br>
    <input type="text" name="name" value=""><br>
    Animal Weight:<br>
    <input type="text" name="weight" value=""><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>